<div>Here is our products</div>

<cdk-virtual-scroll-viewport [itemSize]="PRODUCT_CARD_HEIGHT"
                             (scrolledIndexChange)="onScrollPositionChange($event)"
                             style="height: 70vh">
  <div *cdkVirtualFor="let product of products"
       style="height: 120px">
    <mat-card style="margin: 8px; border: black solid; border-radius: 10px">
      <mat-card-header>
        <mat-card-title>{{product.name}} - {{product.price}} {{product.currency}}</mat-card-title>
        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button
                (click)="onBuyClick(product.id, 1)">
          Buy
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>

<div *ngIf="isProductsLoading">Loading...</div>
