<ng-container *ngIf="currentOrder">

  <div>Items to buy:</div>
  <mat-card *ngFor="let item of currentOrder.items"
    style="margin: 8px; border: black solid; border-radius: 10px">
    <mat-card-header>
      <mat-card-title>{{item.productId}}</mat-card-title>
      <mat-card-subtitle>{{item.quantity}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>
        Remove
      </button>
      <button mat-button>
        Change Quantity
      </button>
    </mat-card-actions>
  </mat-card>

  <div>Delivery method: {{currentOrder.deliveryMethod}}</div>
  <div>Total price: 666</div>
  <div>Payment method: {{currentOrder.paymentMethod}}</div>
</ng-container>

