<mat-toolbar style="justify-content: space-around">
  <button mat-fab extended color="primary">
    <mat-icon>menu</mat-icon>
    Catalog
  </button>

  <a routerLink="/home">
    <span>Awesome shop</span>
  </a>

  <form>
    <mat-form-field>
      <mat-label>Search products</mat-label>
      <input type="text" matInput [formControl]="searchControl"> <!--[matAutocomplete]="auto"-->
      <!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySearch">-->
      <!--        @for (option of filteredOptions | async; track option) {-->
      <!--        <mat-option [value]="option">{{option.name}}</mat-option>-->
      <!--        }-->
      <!--      </mat-autocomplete>-->
    </mat-form-field>
  </form>

  <div>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>inventory</mat-icon>
    </button>
    <button mat-icon-button
            (click)="navigateToShoppingCart()">
      <mat-icon [matBadgeHidden]="isShoppingCartItemsCountHidden"
                [matBadge]="shoppingCartItemsCount"
                matBadgeColor="warn">
        shopping_cart
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
